* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
.background-image{
    transform:  scale(1.1);
    width: 50vw;
    position: absolute;
    width: 100vw;
    height: 50vw;
    z-index: 0;
    content: url(../../assets/Background-image.jpg);
}
.calc-typed{
	font-size: x-large !important;
}
.container {
	width: auto;
	margin: 20px;
	color: transparent;
    position: relative;
    z-index: 999;
}
.malformed-button{
    height: 71px;
}
@media screen and (min-width: 1367px) {
.calc-body{
    transform: scale(1.3) translateY(7vw);
}
}
@media screen and (max-width: 1367px) {
    .calc-body{
        transform:  translateY(3vw);
    }
}
.calc-body {
	width: 275px;
	margin: auto;
	min-height: 400px;
	border: solid 1px #3A4655;
	box-shadow: 0 8px 50px -7px black;
}
.calc-screen {
	background: #3A4655;
	width: 100%;
	height: 150px;
	padding: 20px;
}
.calc-operation {
	text-align: right;
	color: #727B86;
	font-size: 21px;
	padding-bottom: 10px;
	border-bottom: dotted 1px;
}
.calc-typed {
	margin-top: 20px;
	font-size: 45px;
	text-align: right;
	color: #fff;
}
.calc-button-row {
	width: 100%;
	background: #3C4857;
}
.button {
	width: 25%;
	background: #425062;
	color: #fff;
	padding: 20px;
	display: inline-block;
	font-size: 25px;
	text-align: center;
	vertical-align: middle;
	margin-right: -4px;
	border-right: solid 2px #3C4857;
	border-bottom: solid 2px #3C4857;
	transition: all 0.2s ease-in-out;
	&:hover {
		background: #E0B612;
		transform: rotate(5deg);
	}
}
.button.l {
	color: #AEB3BA;
	background: #404D5E;
	&:hover {
		background: #E0B612;
		color: #fff;
	}
}
.button.c {
	color: #D95D4E;
	background: #404D5E;
	&:hover {
		background: #E0B612;
		color: #fff;
	}
}
.blink-me {
	color: #E0B612;
}
html {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	font-family: 'Cookie', cursive;
}
.title {
	&:hover {
		background: #E0B612;
		color: #fff;
	}
	margin-bottom: 10px;
	padding: 5px 0;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #AEB3BA;
	font-family: 'Cookie', cursive;
}
input[type=button] {
	width: 60px;
	height: 60px;
	float: left;
	padding: 0;
	margin: 5px;
	box-sizing: border-box;
	background: #ecedef;
	border: none;
	font-size: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-weight: 700;
	color: #5E5858;
	cursor: pointer;
}
input[type=text] {
	width: 270px;
	height: 60px;
	float: left;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: red;
	text-align: right;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	margin: 0 25px;
}
.calculator {
	background-color: #c0c0c0;
	box-shadow: 0px 0px 0px 10px #666;
	border: 5px solid black;
	border-radius: 10px;
}

.iso{
	content: url(../../assets/transparent-isometric-image1.png);
width: 30vw;
height: 24vw;
transform: translate(60vw,-20vw);
}

@media screen and (max-width: 1367px) {
	.textbox{
		transform: translate(0vw,20vw) !important;
		color: gray;
	}
}
@media screen and (min-width: 1367px) {
	.textbox{
		transform: translate(5vw,20vw) !important;
		color: gray;
	}
}



.Head{
	color: lightseagreen;
}

footer{
	width: 110%;
	height: 15vw;
	transform: translate(-5vw,5vw);
	background-color: #2d3436;
}

footer > ul{
	color: white;
	transform: translate(10vw,5vw);
}
footer > ul > li{
	list-style-type: none;
	padding-bottom: 1vw;
}
.social-media{
	width: 10vw;
	transform: translate(50vw);
}

.social-media > a{
	color: white !important;
	padding-right: 1vw;
	text-decoration: none;
}
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: url(../../assets/Background-2.jpg);
  background-size: 100vw;
	
}
header{
	width: 110%;
	transform: translate(-5vw);
}

.Header-H1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 80px;
	margin-bottom: 30px;
}

body{
	width: 100%;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

.Header-Button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}
